[submodule "contracts-indexer/event-logger/juno"]
	path = contracts-indexer/event-logger/juno
	url = git@github.com:NethermindEth/juno.git
	branch = main
[submodule "fossil"]
	path = fossil
	url = https://github.com/NethermindEth/fossil-monorepo.git
	branch = handover-updates
