[submodule "contracts-indexer/event-logger/juno"]
	path = contracts-indexer/event-logger/juno
	url = git@github.com:NethermindEth/juno.git
	branch = main
[submodule "fossil-monorepo"]
	path = fossil-monorepo
	url = git@github.com:NethermindEth/fossil-monorepo.git
	branch = handover-updates
